.navbar,
.navbar .dropdown-menu {
  background: #005f73;
}
.navbar .nav-link {
  color: #fff !important;
  text-decoration: none;
  position: relative;
  transition: .3s;
}
.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #f8d210 !important;
}
.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 3px;
  background: #f8d210;
  border-radius: 2px;
  transition: .3s;
}
.navbar .nav-link:hover::after,
.navbar .nav-link.active::after {
  width: 100%;
}
.navbar .nav-logo::after {
  display: none;
}
.logo {
  height: 120px;
}
.navbar .navbar-toggler {
  border: 2px solid #fff;
  background: #0a9396;
}
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffffff' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
@media (max-width:768px){
  .logo{ height:100px; }
}
@media (max-width:480px){
  .logo{ height:90px; }
}