.footer {
  background-color: #005F73;
  color: white;
}
.footer-1 {
  flex-grow: 1;
}
.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  color: #00bcd4;
}
.adep {
  text-align: justify;
}
.copyright {
  background-color: black;
}
.copyright-text {
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}